SUPABASE_URL=https://flqfhtnzifmguzttjvgv.supabase.co
CHAVE_DA_FUNCAO_DO_SERVICO_SUPABASE=<sua service_role>
CHAVE_API_SHOPIFY=<sua chave>
SHOPIFY_API_SECRET=<seu secret>
TOKEN_DE_ACESSO_ADMINISTRADOR=<seu token>
